body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2 {
  text-align: center;
}

#question-container {
  margin-bottom: 20px;
}

#question-text {
  font-size: 18px;
}

#answer-input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#result-message {
  text-align: center;
  font-weight: bold;
}

body {
  font-family: "Open Sans";
}

.w3-content {
  max-width: 100%;
}

.w3-display-container {
  position: relative;
}

.w3-padding-large {
  padding: 16px;
}

.w3-text-white {
  color: #fff;
}

.w3-text-red {
  color: #f44336;
}

.w3-button {
  margin-top: 16px;
}

.w3-modal-content {
  max-width: 90%;
}

.w3-modal-content.w3-round-xxlarge {
  border-radius: 16px;
}

/*style do label*/
/* F.A.Q. */
.faq {
  width: 100%;
}
.faq h1 {
  text-align: center;
}
.faq-list {
  margin: 50px auto;
  max-width: 815px;
  font-size: 26px;
}
.faq-question,
.faq-answer {
  background: grey;
  margin-left: auto;
}
.faq-question {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 1px;
  margin-left: auto;
}
.faq-question::after {
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  background: url("../img/fechar.svg") no-repeat center center;
  transform: rotate(45deg);
}
.faq-question.active::after {
  transform: rotate(0deg);
}
.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}
.faq-answer>div {
  padding: 30px;
}
.faq-answer.active {
  max-height: 1200px;
}
/* Footer */
.footer .form-cta {
  margin-top: 0;
}
.footer {
  padding: 4rem 0 2rem 0;
  background: white;
  display: grid;
  justify-items: center;
}
.footer p {
  margin-top: 2rem;
  color: black;
  font-size: 13px;
}